/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, ../scss/vendor/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../scss/vendor/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 50, ../scss/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 71, ../scss/vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, ../scss/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 98, ../scss/vendor/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, ../scss/vendor/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 120, ../scss/vendor/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 132, ../scss/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 140, ../scss/vendor/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 155, ../scss/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 164, ../scss/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 200, ../scss/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 239, ../scss/vendor/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 247, ../scss/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 255, ../scss/vendor/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 259, ../scss/vendor/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 314, ../scss/vendor/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 325, ../scss/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 336, ../scss/vendor/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 344, ../scss/vendor/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 353, ../scss/vendor/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 362, ../scss/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 389, ../scss/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, ../scss/vendor/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 418, ../scss/vendor/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../scss/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 448, ../scss/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 457, ../scss/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, ../scss/vendor/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 478, ../scss/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 494, ../scss/vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 504, ../scss/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 515, ../scss/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 524, ../scss/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 537, ../scss/vendor/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 550, ../scss/vendor/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 559, ../scss/vendor/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 570, ../scss/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 575, ../scss/vendor/_normalize.scss */
td,
th {
  padding: 0;
}

/*! Flickity v1.1.1
http://flickity.metafizzy.co
---------------------------------------------- */
/* line 5, ../scss/vendor/_flickity.scss */
.flickity-enabled {
  position: relative;
}

/* line 9, ../scss/vendor/_flickity.scss */
.flickity-enabled:focus {
  outline: none;
}

/* line 11, ../scss/vendor/_flickity.scss */
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* line 17, ../scss/vendor/_flickity.scss */
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
/* line 25, ../scss/vendor/_flickity.scss */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 34, ../scss/vendor/_flickity.scss */
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

/* line 40, ../scss/vendor/_flickity.scss */
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */
/* line 47, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 63, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button:hover {
  background: white;
}

/* line 65, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

/* line 70, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6;
}

/* line 75, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button.previous {
  left: 10px;
}

/* line 76, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
/* line 78, ../scss/vendor/_flickity.scss */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

/* line 82, ../scss/vendor/_flickity.scss */
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

/* line 87, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

/* line 93, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* line 101, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
/* line 106, ../scss/vendor/_flickity.scss */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */
/* line 113, ../scss/vendor/_flickity.scss */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

/* line 124, ../scss/vendor/_flickity.scss */
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

/* line 126, ../scss/vendor/_flickity.scss */
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

/* line 138, ../scss/vendor/_flickity.scss */
.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1;
}

/* line 1, ../scss/modules/_header.scss */
.main-header {
  height: 100px;
  background: -webkit-linear-gradient(10deg, #f53a13, #d91776);
  background: linear-gradient(80deg, #f53a13, #d91776);
}
/* line 6, ../scss/modules/_header.scss */
.main-header .logo {
  max-width: 90px;
  padding: 15px 0;
  float: left;
}
/* line 11, ../scss/modules/_header.scss */
.main-header .logo img {
  width: 100%;
}
/* line 16, ../scss/modules/_header.scss */
.main-header .main-nav {
  float: right;
}
/* line 19, ../scss/modules/_header.scss */
.main-header .main-nav .main-menu {
  padding: 26px 0;
  list-style-type: none;
}
/* line 23, ../scss/modules/_header.scss */
.main-header .main-nav .main-menu li {
  float: left;
  text-align: center;
  margin-left: 5px;
}
/* line 28, ../scss/modules/_header.scss */
.main-header .main-nav .main-menu li a {
  color: white;
  padding: 17px 30px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  text-transform: capitalize;
}
/* line 34, ../scss/modules/_header.scss */
.main-header .main-nav .main-menu li a:hover, .main-header .main-nav .main-menu li a.selected {
  color: black;
  border-radius: 5px;
  background-color: white;
}
/* line 41, ../scss/modules/_header.scss */
.main-header .main-nav .main-menu li:last-child a {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}
/* line 45, ../scss/modules/_header.scss */
.main-header .main-nav .main-menu li:last-child a:hover {
  color: white;
}

/* line 1, ../scss/modules/_slideshow.scss */
.main-content {
  min-height: 750px;
  background-color: #e9e9e9;
}
/* line 20, ../scss/partials/_mixins.scss */
.main-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 6, ../scss/modules/_slideshow.scss */
.main-content .home-slider {
  width: 100%;
  height: 500px;
  margin: 100px 0;
  position: relative;
}
/* line 12, ../scss/modules/_slideshow.scss */
.main-content .home-slider .slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
}
/* line 20, ../scss/modules/_slideshow.scss */
.main-content .home-slider .slide .thumb {
  height: 400px;
}
/* line 24, ../scss/modules/_slideshow.scss */
.main-content .home-slider .slide .title {
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  position: absolute;
  background-color: white;
}
/* line 32, ../scss/modules/_slideshow.scss */
.main-content .home-slider .slide .title .slide-url {
  color: #333333;
  text-decoration: none;
}
/* line 35, ../scss/modules/_slideshow.scss */
.main-content .home-slider .slide .title .slide-url .slide-title {
  font-size: 30px;
  font-weight: 400;
  padding: 10px 55px;
}
/* line 44, ../scss/modules/_slideshow.scss */
.main-content .home-slider .flickity-page-dots {
  bottom: -40px;
}
/* line 47, ../scss/modules/_slideshow.scss */
.main-content .home-slider .flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  border: 2px solid #333333;
  background-color: transparent;
  -webkit-transition: border-color .3s ease-in-out;
          transition: border-color .3s ease-in-out;
}
/* line 54, ../scss/modules/_slideshow.scss */
.main-content .home-slider .flickity-page-dots .dot:hover {
  border-color: #d91776;
}
/* line 58, ../scss/modules/_slideshow.scss */
.main-content .home-slider .flickity-page-dots .dot.is-selected {
  width: 19px;
  height: 19px;
  border: none;
  background-color: #cccccc;
}

/* line 1, ../scss/modules/_footer.scss */
.main-footer {
  color: white;
  height: 350px;
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #333333;
}
/* line 8, ../scss/modules/_footer.scss */
.main-footer .column {
  width: 47.5%;
  float: left;
  line-height: 1.7;
}
/* line 13, ../scss/modules/_footer.scss */
.main-footer .column:first-child {
  margin-right: 2.5%;
}
/* line 17, ../scss/modules/_footer.scss */
.main-footer .column:last-child {
  margin-left: 2.5%;
}

/* line 11, ../scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 15, ../scss/style.scss */
body {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Helvetica", sans-serif;
}

/* line 24, ../scss/style.scss */
.center {
  padding: 0 100px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  /* line 24, ../scss/style.scss */
  .center {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */