@import "vendor/normalize";
@import "vendor/flickity";

@import "partials/variables";
@import "partials/mixins";

@import "modules/header";
@import "modules/slideshow";
@import "modules/footer";

html {
	box-sizing: border-box;
}

body {
	width: 100%;	
	display: flex;
	margin: 0 auto;
	max-width: 1000px;
	flex-direction: column;
	font-family: $font-family-base;
}

.center {
	padding: 0 100px;
}