.main-footer {
	color: white;
	height: 350px;
	padding-top: 55px;
	flex-direction: row;
	background-color: $dark-grey;
	
	.column {
		width: 45%;
		float: left;
		line-height: 1.75;

		&:first-child {
			margin-right: 5%;
		}

		&:last-child {
			margin-left: 5%;
		}
	}
}