.main-footer {
	color: white;
	height: 350px;
	padding-top: 30px;
	flex-direction: row;
	background-color: $dark-grey;
	
	.column {
		width: 47.5%;
		float: left;
		line-height: 1.7;

		&:first-child {
			margin-right: 2.5%;
		}

		&:last-child {
			margin-left: 2.5%;
		}
	}
}